.header img{
    height: 80px;
}
.menu {
    background-color: black;
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 0px;
}
.menu a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
}
.menu a:hover{
    background-color: lightgray;
}