.shop-content{
    display: flex;
}
.product-container{
    margin-left: 20px;
    margin-right: 5px;
    width: 70%;
    border-right: 1px solid lightgray;
}

.search-container input{
    width: 80%;
    line-height: 22px;
    font-size: 17px;
    margin-right: 20px;
  }
  
  .search-container {
    background-color: #222;
    padding: 20px;
    color: white;
  }